mat-form-field {
  width: calc(100% - 40px);
  margin: 20px;
}

mat-card {
  margin: 10px 20px;
}

mat-card span {
  font-size: 25px;
}

mat-card mat-progress-bar {
  margin-top: 5px;
}

p.error {
  color: red;
}
